@charset "utf-8";

/*-------------------------------------------
  style.css
  Design by Diego Carmona Bernal
  www.diegocarmonabernal.com
  www.mysoftup.com
-------------------------------------------*/


/*-------------------------------------------
  Fonts
-------------------------------------------*/

@font-face {
    font-family: 'icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/MaterialIcons-Regular.woff2) format('woff2'), url(fonts/MaterialIcons-Regular.woff) format('woff'), url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
    font-family: "icons" !important;
    text-transform: none;
}


/*-------------------------------------------
  Home | Estructura
-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Helvetica Neue”, Helvetica, Arial, sans-serif;
    background: #282a36;
    color: #4a567c;
}

body.login {
    font-family: Helvetica Neue”, Helvetica, Arial, sans-serif;
    background: #ececec url(../images/background_login.jpg) no-repeat top center fixed;
    background-size: cover !important;
}


/*::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(98, 114, 164);
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

::-webkit-scrollbar-thumb {
    background: #eef4ff73;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #eef4ff52;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
    background: #eef4ff3d;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background: #a4b5d3;
    color: #eef4ff;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    background: #dde8fc !important;
    transition: all 200ms ease-in;
}

select[disabled],
input[disabled] {
    background: #eef4ff !important;
    opacity: 1;
    color: #4a567c !important;
}

button:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #b6c1d4 !important;
}

::selection {
    background: #a4b5d3;
    color: #eef4ff;
}

::-webkit-selection {
    background: #a4b5d3;
    color: #eef4ff;
}

::-moz-selection {
    background: #a4b5d3;
    color: #eef4ff;
}

::placeholder {
    color: #687292;
}


/*-------------------------------------------
  Page Loader
-------------------------------------------*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/page_loader.gif) 50% 50% no-repeat #282a36;
    opacity: 1;
}

.loader-image-upload {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 380px;
    z-index: 9999;
    background: url(../images/user_upload_loader.gif) 50% 50% no-repeat #44475a;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    opacity: 1;
}


/*-------------------------------------------
  Home | Header
-------------------------------------------*/

.header {
    width: 72%;
    float: right;
    height: 50px;
    margin: 35px 3%;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-title {
    float: left;
    width: 73.1%;
    height: 100%;
}

.info-title .title {
    display: block;
    margin: 11.5px 0 0 3%;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    font-size: 1.25em;
    font-weight: 500;
    text-transform: capitalize;
}

.info-school-period {
    float: right;
    width: 26.7%;
    height: 100%;
    border-left: 1px solid #282a3660;
}

.info-school-period .school-period {
    display: block;
    margin-top: 15px;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: capitalize;
}

.info-school-period .school-period a {
    color: #eef4ff;
    font-size: 0.92em;
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms ease-out;
}

.info-school-period .school-period a:hover,
.info-school-period .school-period a:focus {
    color: #9492c0;
    outline: none;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Home | Navigation
-------------------------------------------*/

.nav-home {
    position: fixed;
    width: 22%;
    top: 0;
    bottom: 0;
    background: #383a59;
    box-shadow: 0px 3px 2px rgba(73, 80, 104, 0.4);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-home span.name_system {
    display: block;
    padding: 12% 0;
    background: url(../images/logo.png) no-repeat center;
    background-size: 55%;
    text-indent: -999px;
}

.nav-home .user {
    border-top: 1px solid #282a3680;
    border-bottom: 1px solid #282a3680;
}

.nav-home .user::after {
    display: block;
    content: "";
    clear: both;
}

.nav-home .user img.image_user {
    display: block;
    width: 50px;
    height: 50px;
    margin: 5% 8%;
    box-shadow: 0px 0px 6px rgba(98, 114, 164, 0.8);
    border: 2px solid #9492c0;
    border-radius: 10em;
    pointer-events: none;
}

.nav-home .user span.name_user {
    float: left;
    margin: -2% 0 2% 8%;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    font-weight: 500;
    font-size: 0.97em;
    text-transform: capitalize;
}

.nav-home .user span.logout_user {
    float: right;
    margin: -2.5% 7% 2% 0;
}

.nav-home .user span.logout_user>a {
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: all 200ms ease-out;
}

.nav-home .user span.logout_user>a:hover {
    color: #9492c0;
    transition: all 300ms ease-in;
}

.nav-home .user span.logout_user>a+ul>li {
    display: none;
    position: absolute;
    right: 4%;
    width: 40%;
    margin-top: -10%;
    background: #383a59;
    box-shadow: 0px 1px 4px rgba(142, 136, 192, 0.3);
    border: 3px solid #6272a4;
    border-radius: 0.25em;
    text-align: center;
    cursor: pointer;
}

.nav-home .user span.logout_user>a+ul>li>a {
    font-size: 0.875em;
}

.nav-home .user span.logout_user>a:focus+ul>li {
    display: block;
    animation: fadeIn 300ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0.99;
    }
    100% {
        opacity: 1;
    }
}

.nav-home .user span.logout_user>a+ul:hover>li {
    display: block;
}

.nav-home ul {
    margin-top: 5%;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}

.nav-home ul li a {
    display: block;
    padding: 4% 8%;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    font-size: 0.97em;
    font-weight: 500;
    text-decoration: none;
    transition: all 200ms ease-out;
}

.nav-home ul li a .icon {
    float: left;
    margin-top: -1px;
    margin-right: 15px;
}

.nav-home ul a:hover {
    color: #9492c0;
    transition: all 300ms ease-in;
}

.nav-home ul li a.active {
    padding: 4% 6.8%;
    color: #9492c0;
    text-shadow: none;
    border-left: 4px solid #6272a4;
    transition: all 300ms ease-in;
}


/*-------------------------------------------
  Home | Mensajes
-------------------------------------------*/

.box-notification-ok {
    width: 100%;
    margin: 0 0 8% 0;
    background: #569188;
    box-shadow: 2px 3px 2px rgba(98, 164, 139, 0.4);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-notification-error {
    width: 100%;
    margin: 0 0 8% 0;
    background: #c0605d;
    box-shadow: 2px 3px 2px rgba(164, 98, 98, 0.4);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-notification-error:after,
.box-notification-info:after {
    display: block;
    content: "";
    clear: both;
}

.box-notification-ok p {
    padding: 8% 7%;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(136, 184, 165, 0.7);
    font-size: 0.875em;
    font-weight: 500;
}

.box-notification-error p {
    padding: 8% 7%;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(154, 185, 173, 0.7);
    font-size: 0.875em;
    font-weight: 500;
}

.box-notification-ok .button,
.box-notification-error .button {
    float: right;
    margin: 6px 6px 0 0;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 2px 2px 4px rgba(219, 73, 73, 0.3);
    color: #eef4ff;
    font-weight: bold;
    line-height: 2.2;
    font-size: 0.6em;
    border: none;
    border-color: #e77f7f;
    border-radius: 2em;
    cursor: pointer;
    transition: all 50ms ease-out;
}

.box-notification-ok .button:hover,
.box-notification-ok .button:focus,
.box-notification-error .button:hover,
.box-notification-error .button:focus {
    line-height: 1.9;
    background: #aa3535;
    border: 2px solid #e77f7f;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Contenedor Formularios
-------------------------------------------*/

.content {
    display: block;
    float: right;
    margin: 0 3%;
    width: 72%;
}

.content-aside {
    display: block;
    float: right;
    width: 27%;
}

.content:after,
.content-aside:after {
    display: block;
    content: "";
    clear: both;
}


/*-------------------------------------------
  Formulario | Iniciar Sesión
-------------------------------------------*/

.wrap-title-login {
    height: 230px;
    background: #383a59e7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-title-login .title-login h1 {
    text-align: center;
    padding: 25px 0 0 0;
    font-size: 3.2em;
    color: #eef4ff;
}

.form-login {
    width: 380px;
    height: 340px;
    margin: -55px auto 0;
    background-color: #eef4ff;
    border-top: 3px solid #4a567cc5;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo-form-login {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0;
    right: 0;
    margin: -55px auto 0;
    background: url(../images/user_icon.png)#eef4ff no-repeat bottom / 120px 120px;
    border: 4px solid #4a567cc5;
    border-radius: 5em;
}

.logo-form-login img {
    width: 130px;
    height: 130px;
}

.form-login .label {
    display: block;
    padding: 100px 0 20px 0;
    color: #4a567c;
    font-size: 1.8em;
    text-align: center;
}

.form-login .text,
.textcontrasena {
    width: 85%;
    height: 40px;
    margin: 0 5% 18px;
    padding: 0 2.3%;
    background: transparent;
    color: #4a567c;
    border: 2px solid #929cb9;
    border-radius: 0.4em;
    font-size: .9em;
    font-weight: bold;
    transition: all 300ms ease-out;
}

.form-login .text:focus,
.textcontrasena:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: 0 0 0 1.5pt #929cb9 !important;
    transition: all 200ms ease-in;
}

.form-login .labelrecordar {
    float: left;
    margin: 2.2% 0 2% 1%;
    color: #4a567c;
    font-size: 0.9em;
    font-weight: bold;
}

.form-login #checkboxrecordar {
    float: left;
    margin: 3% 2% 2% 5.1%;
    border-radius: 0.25em;
}

.form-login #checkboxrecordar:focus {
    outline: none !important;
    outline-width: 0 !important;
}

.form-login .button {
    float: right;
    width: 32%;
    height: 35px;
    margin-right: 4.3%;
    background: #4a567cc5;
    border: none;
    border-radius: 0.4em;
    color: #eef4ff;
    font-size: .9em;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-login .button:hover,
.form-login .button:focus {
    background: #383a59c5;
    border: none;
    box-shadow: 0 0 0 2.5pt #929cb9 !important;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Formulario | Herramientas
-------------------------------------------*/

.form-options {
    width: 100%;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-options .search {
    margin: 20px 0;
    padding-bottom: 20px;
}

.form-options .search:after {
    display: block;
    content: "";
    clear: both;
}

.form-options .search .text-search {
    float: left;
    width: 61%;
    height: 36px;
    margin: 0 0 0 6.5%;
    padding: 0 23% 0 3%;
    background: #eef4ff;
    box-shadow: -1px 0 4px rgba(142, 136, 192, 0.7);
    border: none;
    border-radius: 0.25em;
    color: #687292;
    font-weight: 500;
    font-size: 0.9em;
    transition: all 300ms ease-out;
    outline: none !important;
    outline-width: 0 !important;
    transition: all 300ms ease-out;
}

.form-options .search .text-search:focus {
    box-shadow: 0 0 0 2.5pt #929cb9 !important;
    transition: all 200ms ease-in;
}

.form-options .search .btn-search {
    float: left;
    width: 20%;
    height: 36px;
    margin: 0 6.5% 0 -20%;
    background: #6272a4;
    border: none;
    color: #eef4ff;
    cursor: initial;
    border-top-right-radius: 0.20em;
    border-bottom-right-radius: 0.20em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.02em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-options .search .btn-search:hover,
.form-options .search .btn-search:focus {
    background: #4a567c;
    box-shadow: 0 0 0 2.5pt #929cb9 !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #282a3660;
    padding: 5% 10%;
}

.form-options .options .btn {
    display: block;
    width: 40px;
    height: 40px;
    color: #eef4ff;
    font-size: 1em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.form-options .options .btn.disabled,
.form-options .search .btn-search.disabled {
    background: #6a7186;
    color: #eef4ff98;
    cursor: initial;
}

.form-options .search .btn-search.disabled.disabled:hover {
    box-shadow: none!important;
}

.form-options .options .btnadd {
    box-shadow: 2px 2px 4px rgba(91, 133, 127, 0.3);
    background: #569188;
    border-color: #6daaa3;
    transition: all 300ms ease-out;
}

.form-options .options .btnadd:hover,
.form-options .options .btnadd:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .btnexit {
    box-shadow: 2px 2px 4px rgba(219, 73, 73, 0.3);
    background: #db4949;
    border-color: #e77f7f;
    transition: all 300ms ease-out;
}

.form-options .options .btnexit:hover,
.form-options .options .btnexit:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .search-mobile {
    display: none;
}

.form-options .options .search-mobile.btnsearch {
    display: none;
    box-shadow: 2px 2px 4px rgba(73, 100, 219, 0.3);
    background: #6a7cb3;
    border-color: #8192c9;
    transition: all 300ms ease-out;
}

.form-options .options .btnsearch:hover,
.form-options .options .btnsearch:focus {
    background: #4a567c;
    border: 4px solid #8192c9;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .btnsearch:active {
    background: #6272a4;
}


/*-------------------------------------------
  Formulario | GridView
-------------------------------------------*/

.form-gridview {
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
}

.form-gridview img.data-not-found,
.form-data img.data-not-found {
    display: block;
    width: 80%;
    margin: 2% auto 5%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-gridview table {
    width: 94%;
    margin: 4.5% auto 0;
    box-shadow: 0 1.5px 4px rgba(142, 136, 192, 0.4);
    border-collapse: collapse;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    overflow: hidden;
}

.form-gridview table.full {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    box-shadow: 0 1.4px 4px rgba(142, 136, 192, 0.2);
}

.form-gridview th {
    padding: 7px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: normal;
}

.form-gridview th.center {
    text-align: center;
}

.form-gridview th a {
    color: #eef4ff;
    font-size: 1.2em;
    text-decoration: none;
}

.form-gridview td {
    padding: 8px 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-gridview td p {
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-gridview td.center {
    text-align: center;
}

.form-gridview td button.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 2px 2px 4px rgba(91, 133, 127, 0.3);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnview:hover,
.form-gridview td button.btnview:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #3f6992;
    box-shadow: 2px 2px 4px rgba(63, 105, 146, 0.3);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnedit:hover,
.form-gridview td button.btnedit:focus {
    background: #2a4866;
    border: 4px solid #7eb2e2;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 2px 2px 4px rgba(219, 73, 73, 0.3);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btndelete:hover,
.form-gridview td button.btndelete:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    transition: all 200ms ease-in;
}

.form-gridview tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}

.pages {
    margin: 2.8% 0 2.8% 2.89%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pages:after {
    display: block;
    content: "";
    clear: both;
}

.pages ul li {
    list-style: none;
}

.pages ul li button {
    float: left;
    margin: 0 10px 0 0;
    width: 5%;
    height: 22px;
    background: #7e8aac;
    box-shadow: 2px 2px 4px rgba(98, 114, 164, 0.3);
    border: none;
    border-radius: 0.25em;
    color: #eef4ff;
    line-height: 23px;
    font-size: 0.625em;
    font-weight: 600;
    transition: all 300ms ease-out;
}

.pages ul li button:hover,
.pages ul li button:focus {
    background: #4c597e;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.pages ul li.active button {
    background: #6272a4;
}

.pages ul li.active button:hover,
.pages ul li.active button:focus {
    background: #7e8aac;
    cursor: pointer;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Formulario | Add / Update
-------------------------------------------*/

.form-data {
    position: relative;
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-data .head {
    padding: 14px 0;
    border-bottom: 1px solid #282a3660;
}

.form-data .head h1 {
    color: #eef4ff;
    font-size: 1em;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

.form-data .body .wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 4% 0 0 0;
}

.form-data .body .first,
.form-data .body .last {
    width: 46%;
}

.form-data .body .content-full {
    width: 94.7%;
    margin-bottom: 35px;
}

.form-data .body .label {
    display: block;
    margin: 0 0 6px 0;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    font-size: 0.9em;
    font-weight: 500;
    text-transform: none;
}

.form-data .body .text {
    width: 96%;
    height: 36px;
    margin: 0 0 25px 0;
    padding: 0 2%;
    background: #eef4ff;
    box-shadow: 1px 1px 4px rgba(142, 136, 192, 1);
    border: none;
    border-radius: 0.25em;
    color: #687292;
    font-weight: 500;
    font-size: 0.9em;
    transition: all 300ms ease-out;
}

.form-data .body .textarea {
    width: 201.7%;
    min-height: 50px;
    max-height: 120px;
    margin: 0 0 20px 0;
    padding: 3px 2% 3px;
    background: #eef4ff;
    box-shadow: 1px 1px 4px rgba(142, 136, 192, 1);
    border: none;
    border-radius: 0.25em;
    color: #687292;
    line-height: 1.7;
    font-family: Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    text-align: justify;
    resize: vertical;
    transition: all 300ms ease-out;
}

.form-data .body .select {
    width: 100%;
    height: 36px;
    margin: 0 0 25px 0;
    padding: 0 1%;
    background: #eef4ff;
    box-shadow: 1px 1px 4px rgba(142, 136, 192, 1);
    border: none;
    border-radius: 0.25em;
    color: #687292;
    font-family: Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    transition: all 300ms ease-out;
}

.select2 {
    width: 100%!important;
}

.form-data .body .select option {
    color: #687292;
    font-weight: 500;
}

.form-data .body .date {
    width: 96%;
    height: 36px;
    margin: 0 0 25px 0;
    padding: 0 2%;
    background: #eef4ff;
    box-shadow: 1px 1px 4px rgba(142, 136, 192, 1);
    border: none;
    border-radius: 0.25em;
    color: #687292;
    font-family: Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    transition: all 300ms ease-out;
}

.form-data .body [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.form-data .body [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.form-data .body .btn {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 8px 0 0 8px;
    background: #6272a4;
    border: none;
    border-color: #929cb9;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 0.25em;
    color: #eef4ff;
    text-shadow: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-data .body .btn:hover,
.form-data .body .btn:focus {
    background: #4a567c;
    border: 4px solid #929cb9;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.text:focus,
.textarea:focus,
.date:focus,
.select:focus {
    outline: none !important;
    outline-width: 0 !important;
    color: #4a567c !important;
    box-shadow: 0 0 0 2.5pt #929cb9 !important;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Formulario | Delete
-------------------------------------------*/

.form-data .delete {
    margin: 20px 0 35px 0;
    text-align: center;
}

.form-data .delete h1 {
    color: #eef4ff;
    font-size: 1.3em;
    text-transform: initial;
    font-weight: 600;
}

.form-data .delete h2 {
    margin-top: 8px;
    color: #eef4ff;
    font-size: 1em;
    text-transform: initial;
    font-weight: 500;
}

.form-data .delete .btn-si {
    float: left;
    margin: 22px 0 25px 29%;
    width: 120px;
    height: 38px;
    background: #3f6992;
    box-shadow: 0 0 4px rgba(63, 105, 146, 0.3);
    border: none;
    border-color: #7eb2e2;
    border-radius: 0.25em;
    color: #eef4ff;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-data .delete .btn-no {
    float: right;
    margin: 22px 29% 25px 0;
    width: 120px;
    height: 38px;
    background: #db4949;
    box-shadow: 0 0 4px rgba(219, 73, 73, 0.3);
    border: none;
    border-color: #e77f7f;
    border-radius: 0.25em;
    color: #eef4ff;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-data .delete .btn-si:hover,
.form-data .delete .btn-si:focus {
    border: 4px solid #7eb2e2;
    background: #2a4866;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-data .delete .btn-no:hover,
.form-data .delete .btn-no:focus {
    border: 4px solid #e77f7f;
    background: #aa3535;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Formulario | School Period - Groups
-------------------------------------------*/

.form-data .body .table-school-period {
    margin-bottom: 4%;
}

.form-data .body .td-school {
    width: 10%;
}

.form-data .body .td-school-label {
    padding: 0;
}

.form-data table {
    width: 94%;
    margin: 0 auto 3%;
    box-shadow: 0 1.5px 4px rgba(142, 136, 192, 0.4);
    border-collapse: collapse;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    overflow: hidden;
}

.form-data table.consult {
    margin: -30px auto 65px;
}

.form-data th {
    padding: 10px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.7);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: none;
}

.form-data th.center {
    text-align: center;
}

.form-data td {
    padding: 0 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-data td.center {
    text-align: center;
}

.form-data tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}

.form-data td label {
    display: block;
    padding: 8px 0;
}

.form-data td .cbox-school-period {
    display: block;
    margin: 13% auto 10%;
    width: 18px;
    height: 18px;
    background: #eef4ff;
    cursor: pointer;
}

.form-data td .cbox-student {
    margin: 16% 0 0 45%;
    width: 18px;
    height: 18px;
    background: #eef4ff;
}

.form-data button.btn-add-subjects {
    width: 100%;
    height: 40px;
    margin: 0 0 10% 0;
    background: #6272a4;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 1);
    text-transform: capitalize;
    line-height: 2.9;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-data button.btn-add-subjects:hover,
.form-data button.btn-add-subjects:focus {
    background: #4a567c;
    color: #eef4ff98;
    border: none;
    transition: all 200ms ease-in;
}

.form-data button.btn-add-students {
    width: 35%;
    height: 40px;
    margin: 2% auto -2%;
    background: #6272a4;
    color: #eef4ff;
    text-shadow: 2px 2px 4px rgba(98, 114, 164, 1);
    text-transform: capitalize;
    line-height: 2.9;
    font-size: 0.9em;
    font-weight: bold;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-data button.btn-add-students:hover,
.form-data button.btn-add-students:focus {
    background: #4a567c;
    color: #eef4ff98;
    border: none;
    transition: all 200ms ease-in;
}


/*-------------------------------------------
  Formulario | Careers
-------------------------------------------*/

.form-data .body .description {
    width: 95%;
}

.form-data .body .description .textarea {
    width: 97.4%;
    min-height: 50px;
    max-height: 120px;
    margin: 0 0 25px 0;
    padding: 3px 1.2% 3px;
    resize: vertical;
    transition: all 300ms ease-out;
}


/*-------------------------------------------
  Formulario | Configuration User
-------------------------------------------*/

.formConfigUser {
    position: relative;
    float: none;
    width: 100%;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
}

.formConfigUser:after {
    display: block;
    content: "";
    clear: both;
}

.formConfigUser .body .wrap,
.form-users .body .wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 0 2% 0;
}

.formConfigUser .body .label {
    text-transform: none;
}

.formConfigUser .body .labelError {
    visibility: hidden;
    display: block;
    margin-top: -10px;
    padding: 5px 0;
    border-radius: 0.25em;
    text-align: center;
    background-color: #db5f5f;
    box-shadow: 2px 2px 4px rgb(219 73 73 / 30%);
    transition: all 300ms ease-out;
}

.formConfigUser .body .labelError.show {
    visibility: visible!important;
    transition: all 300ms ease-in;
}

.formConfigUser .body #section-user-image,
.form-data .body #section-user-image {
    width: 100%;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 18px;
}

.formConfigUser .body #section-user-image img,
.form-data .body #section-user-image img {
    display: block;
    width: 270px;
    height: 270px;
    margin: 0 auto;
    border: solid #eef4ff 4px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0px 0 8px rgba(182, 193, 224, 0.8);
}

.ConfigUser .body #section-user-image .file,
.form-data .body #section-user-image .file {
    display: block;
    position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    margin-top: -36px;
    padding: 0;
    background: #6272a4;
    box-shadow: none;
    border-radius: 100%;
    color: #eef4ff;
    line-height: 2.5em;
    font-size: 1.8em;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.formConfigUser .body #section-user-image .file:hover,
.form-data .body #section-user-image .file:hover {
    background: #4a567c;
    box-shadow: 0 0 0 2.5pt #8192c9 !important;
    color: #AEBBD3;
    transition: all 200ms ease-in;
}

.formConfigUser .body #section-user-image .file.disabled {
    background: #6a7186;
    color: #eef4ff98;
    cursor: initial;
}

.formConfigUser .body #section-user-image .file.disabled:hover,
.formConfigUser .body #section-user-image .file.disabled:focus {
    box-shadow: none!important;
}

.formConfigUser .body #section-croppie-image,
.form-data .body #section-croppie-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 18px;
}

.formConfigUser .body #section-croppie-image .crop_btn,
.form-data .body #section-croppie-image .crop_btn {
    display: block;
    position: relative;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    margin-top: -52px;
    padding: 0;
    background: #6272a4;
    box-shadow: none;
    border: none;
    border-radius: 100%;
    color: #eef4ff;
    line-height: 2.55em;
    font-size: 1.8em;
    font-weight: 100;
    cursor: pointer;
    z-index: 999;
    transition: all 300ms ease-out;
}

.formConfigUser .body #section-croppie-image .crop_btn:hover,
.form-data .body #section-croppie-image .crop_btn:hover {
    background: #4a567c;
    box-shadow: 0 0 0 2.5pt #8192c9 !important;
    color: #AEBBD3;
    transition: all 200ms ease-in;
}

input[type="range"]:focus,
input[type="range"]:hover,
input[type="range"]:active {
    background: transparent !important;
}


/*-------------------------------------------
  Formulario | Attendance
-------------------------------------------*/

.formAttendance {
    float: none;
    margin: 0 0 35px 0;
    width: 100%;
    height: 450px;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.25em;
}

.formAttendanceAdd {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 30px 20px 10px;
}

.formAttendanceAdd table.attendanceGroups {
    width: 47%;
    box-shadow: none;
    border-collapse: collapse;
    border-radius: 0.25em;
    overflow: hidden;
}

.formAttendanceAdd table.attendanceGroups th {
    font-size: 0.8em;
    padding: 10px 0;
}

.formAttendanceAdd table.attendanceGroups th.nameGroup {
    background: #282a36;
    text-transform: none;
}

.formAttendanceAdd table.attendanceGroups td {
    font-size: 0.78em;
    padding: 7px 0;
}

.formAttendanceAdd table.attendanceGroups td.left {
    padding-left: 15px;
}

.formAttendanceAdd table.attendanceGroups td.right {
    padding-right: 15px;
}

.formAttendanceAdd table.attendanceGroups td.right .btnview {
    display: block;
    float: right;
}


/*-------------------------------------------
  User Mobile
-------------------------------------------*/

.user-mobile {
    display: none !important;
    float: right;
    margin: 0 auto;
    margin-right: 3%;
    position: relative;
    background: transparent;
    color: white;
    display: -ms-grid;
    display: grid;
    place-content: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-mobile header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.user-mobile header img {
    max-width: 45px;
    max-height: 45px;
}

.user-mobile header .activator-user {
    width: 45px;
    height: 45px;
    padding: 0.22em;
    border-radius: 100%;
    background: #44475a;
    box-shadow: -1px 3px 2px rgba(73, 80, 104, 0.4);
    cursor: pointer;
    transition: all 600ms;
}

.user-mobile header .activator-user:hover {
    background: #44475a;
}

.user-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-mobile nav {
    max-height: 57px;
    background: #44475a;
    box-shadow: -1px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 5em 0 0 5em;
    -webkit-clip-path: ellipse(50% 50% at 150% 50%);
    clip-path: ellipse(50% 50% at 150% 50%);
}

.user-mobile nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-mobile nav ul {
    width: 107px;
}

.user-mobile nav ul li.first {
    margin-left: 9px;
    margin-right: 7px;
}

.user-mobile nav ul li {
    margin-right: 9px;
}

.user-mobile nav ul li a {
    display: block;
    margin: 0 auto;
    margin-top: 6px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all 300ms;
    transition: all 300ms ease-out;
}

.user-mobile nav ul li a:hover {
    background: #323844;
    transition: all 200ms ease-in;
}

.user-mobile nav ul li a img {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}


/*-------------------------------------------
  Menu Mobile
-------------------------------------------*/

.menu-mobile {
    display: none !important;
    position: relative;
    width: 94%;
    margin: 0 auto;
    padding: 0;
    background: transparent;
    color: white;
    display: -ms-grid;
    display: grid;
    place-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-mobile span.name_system {
    display: block;
    width: 300px;
    height: 60px;
    margin: -55px auto 0px;
    padding: 0;
    background: url(../images/logo.png) no-repeat center;
    background-size: 150px;
    text-indent: -999px;
}

.menu-mobile header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-mobile header .activator {
    padding: 1em;
    border-radius: 0.25em;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    cursor: pointer;
}

.menu-mobile header .activator:hover {
    background: #44475a;
}

.menu-mobile header img {
    width: 20px;
    max-width: 20px;
    max-height: 20px;
}

.menu-mobile header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-mobile header nav {
    z-index: 99;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 52px;
    background: #44475a;
    box-shadow: 2px 3px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0 0.25em 0.25em 0;
    padding: 0 .5em;
    -webkit-clip-path: ellipse(50% 50% at -50% 50%);
    clip-path: ellipse(50% 50% at -50% 50%);
}

.menu-mobile header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-mobile header nav ul li a {
    display: block;
    padding: .4em .8em;
    margin: 4.5px;
    border-radius: 0.25em;
    transition: all 300ms ease-out;
}

.menu-mobile header nav ul li a:hover,
.menu-mobile header nav ul li a.active {
    background: #323844;
    transition: all 200ms ease-in;
}

.menu-mobile header nav ul li a img {
    margin-top: 5px;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}


/*-------------------------------------------
  Responsive Design
  Formulario | Iniciar Sesión
-------------------------------------------*/

@media only screen and (max-width: 700px) {
    body.login {
        background: none;
        background-color: #ececec;
    }
    .wrap-title-login {
        height: 200px;
    }
    .wrap-title-login .title-login h1 {
        font-size: 2.2em;
    }
    .form-login {
        width: 300px;
        height: 370px;
    }
    .form-login .labelrecordar {
        float: left;
        margin: -0.9% 0 4% 1%;
    }
    .form-login .text,
    .textcontrasena {
        width: 84.3%;
    }
    .form-login #checkboxrecordar {
        float: left;
        margin: 0 2% 4% 32%;
    }
    .form-login .button {
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}


/*-------------------------------------------
  Responsive Design
  All
-------------------------------------------*/

@media only screen and (max-width: 1186px) {
    .menu-mobile,
    .user-mobile {
        display: block!important;
    }
    .menu-mobile {
        margin-top: -162px;
        margin-bottom: 97px;
    }
    .user-mobile {
        margin-top: -154px;
        margin-bottom: 100px;
    }
    .nav-home {
        display: none;
    }
    .header {
        float: none;
        width: 94%;
        margin-top: 100px;
    }
    .content {
        float: none;
        width: 94%;
    }
}

@media only screen and (max-width: 963px) {
    .menu-mobile ::-webkit-scrollbar {
        height: 3px;
    }
    .menu-mobile {
        margin-top: -162px;
        margin-bottom: 97px;
    }
    .user-mobile {
        margin-top: -154px;
        margin-bottom: 100px;
    }
    .info-title {
        width: 59.8%;
    }
    .info-title .title {
        margin: 11.5px 0 0 5.5%;
    }
    .info-school-period {
        width: 40%;
    }
    .box-notification-ok,
    .box-notification-error {
        margin: -77px 0 27px 0;
    }
    .box-notification-ok p,
    .box-notification-error p {
        padding: 15.3px 5%;
    }
    .content {
        display: flex;
        flex-flow: column-reverse;
    }
    .content-aside {
        width: 100%;
    }
    .form-gridview {
        width: 100%;
    }
    .form-data {
        width: 100%;
    }
    .form-options {
        margin-bottom: 27px;
    }
    .form-options .options {
        padding: 1.5% 10%;
        border: none;
    }
    .form-options .search {
        display: none;
        margin: 0;
        padding: 2px 0 12px;
    }
    .form-options .search .text-search {
        width: 63%;
        height: 42px;
        padding: 0 22% 0 2%;
    }
    .form-options .search .btn-search {
        width: 20%;
        height: 42px;
    }
    .form-options .options .search-mobile,
    .form-options .options .search-mobile.btnsearch {
        display: block;
    }
}

@media only screen and (max-width: 701px) {
    .info-title {
        width: 58.6%;
    }
    .form-data .body .first,
    .form-data .body .last,
    .form-data .body .description {
        width: 93%;
    }
    .form-data .body .content-full {
        width: 93%;
        margin-bottom: 35px;
    }
    .form-data .body .textarea {
        width: 96%;
    }
    .form-data .body .description .textarea {
        width: 97.6%;
    }
    .form-options {
        padding: 3px 0;
    }
    .form-options .options .btn {
        width: 35px;
        height: 35px;
    }
    .form-options .search {
        display: none;
        margin: 0;
        padding: 8px 0 8px;
    }
    .form-options .search .text-search {
        width: 63%;
        height: 38px;
        padding: 0 22% 0 2%;
    }
    .form-options .search .btn-search {
        width: 20%;
        height: 38px;
    }
    .form-gridview .pages ul li button {
        width: 5%;
    }
}

@media only screen and (max-width: 641px) {
    .form-gridview img.data-not-found,
    .form-data img.data-not-found {
        margin: 1% auto 5%;
    }
    .form-gridview table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 6% auto 0;
        overflow-x: auto;
        white-space: nowrap;
        box-shadow: 0 1.4px 4px rgba(142, 136, 192, 0.2);
    }
    .form-gridview .pages {
        margin: 3.2% 0 3.2% 2.89%;
    }
    .form-data .delete .btn-si {
        margin: 22px 0 25px 20%;
    }
    .form-data .delete .btn-no {
        margin: 22px 20% 25px 0;
    }
}

@media only screen and (max-width: 436px) {
    .info-title {
        width: 59.5%;
    }
    .info-title .title {
        margin-left: 18px;
        font-size: 1.2em;
        margin-top: 12px;
    }
    .info-school-period .school-period {
        padding: 0 8px;
        margin-top: 7px;
        font-size: .85em;
    }
    .info-school-period .school-period a {
        font-size: .95em;
    }
    .form-gridview .pages ul li button {
        width: 8%;
    }
    .form-options .options {
        padding-left: 35px;
        padding-right: 35px;
    }
    .form-options .search .text-search {
        width: 61%;
        height: 38px;
        padding: 0 23% 0 3%;
    }
    .form-options .search .btn-search {
        width: 20%;
        height: 38px;
    }
    .form-data .delete .btn-si {
        margin: 22px 0 25px 6%;
    }
    .form-data .delete .btn-no {
        margin: 22px 6% 25px 0;
    }
}